@use 'abstracts';
@use 'sass:map';


// Resets
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

// TODO
body {
  font-family: narkiss-text-variable, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: map.get(abstracts.$font-size, 'md');
  // background-color: abstracts.$light;
  background-color: white;
  color: abstracts.$dark;

  --crop: 0;
}

h1 {
  font-size: map.get(abstracts.$font-size, 'xl');
  font-weight: 100;
  line-height: unset;

  // TODO thinner lettering or spacing
}

h2 {
  font-size: map.get(abstracts.$font-size, 'lg');
  font-weight: 300;
  line-height: unset;
}

h3 {
  font-size: map.get(abstracts.$font-size, 'md');
  font-weight: 300;
  line-height: unset;
}

p {
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: unset;

  &:hover {
    text-decoration: underline;
  }
}

hr {
  border: none;

  @each $key, $size in abstracts.$spacers {

    &[data-size~="#{$key}"] {
      height: $size;
    }
  }
}
