@use "./assets/abstracts" as *;
@use "./assets/utility.scss" as *;


.About {
    max-width: 500px;
  
    &__title {
      @extend .--font-title;
  
      >h1:first-child {
        text-transform: uppercase;
        color: $gold;
      }
    }
  
    &__about {
      >h2:first-child {
        display: none;
  
        @extend .--font-title;
      }
    }
  }