@use 'assets/utility.scss' as *;
@use 'assets/abstracts.scss' as *;


.About {
  &__splash {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    min-height: 100vh;
    gap: spacer('xl');
  
    @extend .--safe-width;  
    
    padding-top: spacer('xxxl');
    
    @include breakpoint('xl') {
      padding-top: 140px;
  }    

    @include breakpoint('lg') {
        padding-top: spacer('xl');
    }
  }
}
