@use 'assets/utility.scss' as *;
@use 'assets/abstracts.scss' as *;


.About {
  &__splash {
    padding-top: spacer('xxxl');
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    min-height: 100vh;
    gap: spacer('xl');
  
    @extend .--safe-width;
  }

  
  @keyframes scale-frame {
    0% {
      background-color: blue;
    }

    100% {
      background-color: red;
    }
  }

  &__summary {
    scroll-timeline: --my-scroller inline;
  }
    
  &__view {
    z-index: 1;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // height: 100vh;
    // width: 100%;
    // max-width: 100%;
    // position: relative;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    border: solid 5px red;

    animation: scale-frame ease-in;
    animation-timeline: --my-scroller;

  }
}

