@use 'assets/abstracts.scss' as *;
@use 'assets/utility.scss' as *;

// SOON: css scroll-driven animations browser support. 
// https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_scroll-driven_animations

// Polyfill
// https://github.com/flackr/scroll-timeline




.Frame {
  --crop: 0;

  z-index: 1;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: spacer('sm');
  // pointer-events: none;pointer-events

  // @include breakpoint('md') {
  //   display: none;display
  // }
  
  &__container {
    max-width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: scale-frame;
    animation-duration: 100s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-play-state: paused; 
    animation-delay: var(--crop);

    @keyframes scale-frame {
      0% {
        height: 100%;
        width: 100%;
      }

      100% {
        height: $safe-height;
        width: $safe-width;
      }
    }
  }

  &__edge {
    position: absolute;
    background-color: $gold;

    &:nth-child(1) {
      left: 0;
      clip-path: polygon(0 0, 100% $frame-thickness, 100% calc(100% - $frame-thickness), 0 100%);
      height: $safe-height;
      width: $frame-thickness;
    }

    &:nth-child(2) {
      top: 0;
      clip-path: polygon(0 0, 100% 0, calc(100% - $frame-thickness) 100%, $frame-thickness 100%);
      width: $safe-width;
      height: $frame-thickness;
      max-width: 100%;
    }

    &:nth-child(3) {
      right: 0;
      clip-path: polygon(0 $frame-thickness, 100% 0, 100% 100%, 0 calc(100% - $frame-thickness));
      height: $safe-height;
      width: $frame-thickness;
    }

    &:nth-child(4) {
      bottom: 0;
      clip-path: polygon($frame-thickness 0%, calc(100% - $frame-thickness) 0%, 100% 100%, 0% 100%);
      width: $safe-width;
      height: $frame-thickness;
      max-width: 100%;
    }
  }

  // TODO Texture and shade frame
  // &.--texture {
  //   >div {
  //     $att: white;$att

  //     background-image:
  //       linear-gradient(
  //         to left,
  //         rgba($att, 0.5) 0%,
  //         rgba($att, 1) 15%,
  //         rgba($att, 0.5) 40%,
  //         rgba($att, 0) 70%,
  //         rgba($att, 0.5) 85%,
  //         rgba($att, 0) 100%
  //       );background-image
  //     background-blend-mode: overlay;background-blend-mode
  //   }
  // }
}
