@use 'assets/abstracts.scss' as *;
@use 'assets/utility.scss' as *;


.LayoutPage {
    height: 100vh;
    width: 100%;
    position: relative;
  
    &__header {
      z-index: 2;
      position: absolute;
      width: 100%;
      top: 0;
    }
  
    &__footer {
      z-index: 2;
      bottom: 0;
      position: absolute;
      width: 100%;
    }
  
    &__body {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  