@use 'assets/abstracts.scss' as *;
@use 'assets/utility.scss' as *;


.PageUI {
    height: 100vh;
    border-left: red solid 3px;
    width: 100%;
    position: relative;
  
    @include breakpoint('md') {
      display: none;
    }
  
    &__header {
      position: absolute;
      width: 100%;
      top: 0;
    }
  
    &__footer {
      bottom: 0;
      position: absolute;
      width: 100%;
    }
  
    &__body {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  
.Navbar {
    @extend .--safe-width;
  
    display: flex;
    align-items: center;
    padding-top: spacer('sm');
    justify-content: space-between;
  
    // TODO
    >h3:first-child {
      @extend .--font-title;
  
      color: $dark;
  
      em {
        text-transform: uppercase;
        font-style: normal;
  
        // color: $dark;
      }
    }
  
    >a:last-child {
      place-content: center;
      border-radius: 1.4em;
      padding: 8px;
  
      &:hover {
        background-color: $blue-light;
      }
    }
  }
  
  .Credits {
    @extend .--safe-width;
  
    display: flex;
    align-items: center;
    justify-content: end;
  
    &__footNotes {
      // FIXME
      font-size: font('sm');
      color: $dark;
    }
  }
  